<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lmiky.jdp.module.pojo.Module">
	<sql id="tableName">
		t_module
	</sql>
	<select id="find" resultType="Module">
		select * from 
		<include refid="com.lmiky.jdp.module.pojo.Module.tableName"/>	
		where id = #{id}
	</select>
</mapper>