@CHARSET "UTF-8";
html{
	height:99%;
}
body{
	height:100%;
}
body {
	margin: 0px;
    background-color:#ffffff;
	scrollbar-face-color: #ffffff;
	scrollbar-shadow-color: #ABABAB;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #BEBEBE;
	scrollbar-darkshadow-color: #BEBEBE;
	scrollbar-track-color: #F3F3F3;
	scrollbar-arrow-color: #7B7A7A; 
	font-family: "宋体";
}

body,td,p {
	font-size:12px;
	color:#4B4B4B;
}

.btnClass {
	BORDER-RIGHT: #EB100D 0px solid; 
	BORDER-TOP: #EB100D 0px solid; 
	BORDER-LEFT: #EB100D 0px solid; 
	BORDER-BOTTOM: #EB100D 0px solid;
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 5px; 
	FONT-SIZE: 12px;
	COLOR: #ffffff; 
	background-image:url(../images/statButton.gif);
	width: 65px;
	height:21px;
	CURSOR: pointer; 
}

.btnClass1 {
	BORDER-RIGHT: #EB100D 0px solid; 
	BORDER-TOP: #EB100D 0px solid; 
	BORDER-LEFT: #EB100D 0px solid; 
	BORDER-BOTTOM: #EB100D 0px solid;
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 5px; 
	FONT-SIZE: 12px;
	COLOR: #ffffff; 
	background-image:url(../images/statButton1.gif);
	width: 120px;
	height:21px;
	CURSOR: pointer; 
}

.btnClass2 {
	BORDER: #707070 1px solid; 
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 5px; 
	FONT-SIZE: 12px; 
	CURSOR: pointer; 
}

.btnClass_td {	
	margin: 0px 10px 2px 0px;;
    padding:5px 20px 5px 20px;
	background-color:#FF8037;
	FONT-SIZE: 12px; 
	COLOR: #ffffff;
	cursor: pointer;
	font-weight: normal;
	jerry:expression(cellSpacing="2");
}

/*按钮菜单滑过样式*/
.btn_menu_hover {
	font-weight: bold;
}

.bian {
		border:1px solid #BABABA;
}

.bian1 {
	BORDER-RIGHT: #E60000 1px solid; 
	BORDER-TOP: #E60000 1px solid;
	BORDER-LEFT: #E60000 1px solid;
	BORDER-BOTTOM: #E60000 1px solid;
}

.bian2 {
		border:6px solid #DEDEDE; 
}

.bian3 {
	BORDER-RIGHT: #0079BB 0px solid; 
	BORDER-TOP: #0079BB 0px solid;
	BORDER-LEFT: #0079BB 1px solid;
	BORDER-BOTTOM: #0079BB 2px solid;
}

.bian4 {
	BORDER-RIGHT: #F5F5F5 0px solid; 
	BORDER-TOP: #F5F5F5 8px solid;
	BORDER-LEFT: #F5F5F5 8px solid;
	BORDER-BOTTOM: #F5F5F5 8px solid;
}

.bian5 {
	BORDER-RIGHT: #DEDEDE 8px solid; 
	BORDER-TOP: #DEDEDE 8px solid;
	BORDER-LEFT: #DEDEDE 0px solid;
	BORDER-BOTTOM: #DEDEDE 8px solid;
}

.neixian {
	border:1px solid #FF9393;
}

.waixian {
	BORDER-RIGHT: #EEEEEE 4px solid; 
	BORDER-TOP: #EEEEEE 0px solid;
	BORDER-LEFT: #EEEEEE 0px solid;
	BORDER-BOTTOM: #EEEEEE 4px solid;
}

.dixian {
	BORDER-RIGHT: #DEDEDE 0px solid; 
	BORDER-TOP: #ffffff 0px solid;
	BORDER-LEFT: #DEDEDE 0px solid;
	BORDER-BOTTOM: #FF2A00 1px solid;
}

.xuxian {
	padding-left:4px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-color: #cecece;
	border-spacing:5px;
}

.listTitle {
	text-align: LEFT ;
	border-top:2px solid #E31613;
	 FONT-SIZE: 14px; 
	 COLOR: #333333;
	 font-weight: bold; 
	 background-image:url(../images/bt_di.gif);
	 height:30px;
}

.listTitle1 {
	text-align: LEFT ;
	border-top:2px solid #E31613;
	 FONT-SIZE: 14px; 
	 COLOR: #333333;
	 font-weight: bold; 
	 background-image:url(../images/lanmu-a.gif);
	 height:50px;
}

.listTitle2 {
	 background-image:url(../images/lanmu-b.gif);
	 height:50px;
}

.listTitle3 {
	 background-image:url(../images/lanmu-c.gif);
	 height:50px;
}


/**
 * 超连接样式
 */
a:link {
	COLOR: #4B4B4B; TEXT-DECORATION: none
}
a:visited {
	COLOR: #4B4B4B; TEXT-DECORATION: none
}
a:active {
	COLOR: #FE5230; TEXT-DECORATION: none
}
a:hover {
    COLOR: #FE5230; TEXT-DECORATION: none
}

.labelSpan_left {
	display:inline-block;
	text-align:left;
}
.labelSpan_center {
	display:inline-block;
	text-align:center;
}
.labelSpan_right {
	display:inline-block;
	text-align:right;
}

.STYLE1 {
	color: #ffffff;
	font-size: 12px;
}
.STYLE2 {
	color: #FF5235;
	font-size: 12px;
}
.STYLE3 {
	font-size: 14px;
	color: #4B4B4B;
	font-weight: bold;
}
.STYLE4 {
	font-size: 20px;
	color: #EA2222;
	font-weight: bold;
}
.STYLE5 {
	font-size: 24px;
	color: #4B4B4B;
	font-weight: bold;
	font-family: "宋体";
}
.STYLE6 {
	font-size: 14px;
	color: #FE5230;
	font-weight: bold;
}

.tf{
font-weight: bold;
	font-size:12px;
	color:#676564;
  }
.td_0 { 
	font-size:13px; 
	color:#fff;
	font-weight: bold;
}
 a.td_0:link{
	font-size:13px; 
	color:#fff;
	text-decoration:none;
}
a.td_0:visited{
	font-size:13px; 
	color:#fff;
	text-decoration:none;
}
a.td_0:hover{
	font-size:13px; 
	color:#F8F6DD;
	text-decoration:underline;
}
a.td_0:active{
	font-size:13px; 
	color:#ffffff;
	text-decoration:none;
}

.td_1 {
	font-size:12px;
	color:#11517D;
	line-height:20px;
}

 a.td_1:link {
	font-size:12px; 
	color:#11517D;
	text-decoration:none;
}
a.td_1:visited {
	font-size:12px; 
	color:#11517D;
	text-decoration:none;
}
a.td_1:active {
	font-size:12px; 
	color:#11517D;
	text-decoration:none;
}
a.td_1:hover {
	font-size:12px; 
	color:#11517D;
	text-decoration:underline;
}

.td_2 {
	font-size:12px;
	color:#3F82BA;
	line-height:20px;
}


 a.td_2:link {
	font-size:12px; 
	color:#3F82BA;
	text-decoration:none;
}
a.td_2:visited {
	font-size:12px; 
	color:#3F82BA;
	text-decoration:none;
}
a.td_2:active {
	font-size:12px; 
	color:#FF5400;
	text-decoration:none;
;
}
a.td_2:hover {
	font-size:12px; 
	color:#FF5400;
	text-decoration:none;
}

.td_3 {
	font-size:14px;
	color:#FF5400;
	line-height:20px;
}

 a.td_3:link {
	color:#FF5400;
	text-decoration:none;
}
a.td_3:visited {
	color:#FF5400;
	text-decoration:none;
}
a.td_3:active { 
	color:#3F82BA;
	text-decoration:none;
}
a.td_3:hover { 
	color:#3F82BA;
	text-decoration:underline;
}

.td_4 {
	font-size:14px;
	color:#555555;
	line-height:20px;
	font-weight: bold;
}


 a.td_4:link {
	color:#DD0E06;
	text-decoration:none;
}
a.td_4:visited {
	color:#DD0E06;
	text-decoration:none;
}
a.td_4:active { 
	color:#FF5400;
	text-decoration:none;
}
a.td_4:hover { 
	color:#FF5400;
	text-decoration:underline;
}

.messageDiv {
	margin: 5px;
	font-size:14px;
}

.message {
	color: #FE5230;
}

.error {
	color: #ff0000;
}

/* ----- SIZES ----- */
.mini{
    width: 40px;
}

.small{
    width: 70px;
}

.medium{
    width: 130px;
}

.large {
    width: 200px;
}

.larger {
    width: 350px;
}

.full {
    width: 100%;
}

.bg01{background-color: #e5e5e5;}
.bg02 {background-color: #F6F6F6;}

.req {
	color: #ff0000;
}

.underline {
	text-decoration: underline;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.label {
	margin-left: 5px;
}