@CHARSET "UTF-8";
body {
	margin: 0px;
	font-family: "宋体";
}

.font_style1 {
	color: #ffffff;
	font-size: 12px;
}
.font_style2{
	color: #FF5235;
	font-size: 12px;
}
.font_style3 {
	font-size: 14px;
	color: #4B4B4B;
	font-weight: bold;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}