@CHARSET "UTF-8";

.listContent .simpleCheckbox {
	width :20px;
}

.listContent td {
	text-align: center;
	font-size: 12px !important;
}

.listContent th a {
	background-position: right;
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
	color: #666666 !important;
}

.listContent th.sortable a {
    background-image: URL(../images/arrow_off.png) !important;
}

.listContent th.order-asc a {
    background-image: URL(../images/arrow_up.png) !important;
}

.listContent th.order-desc a {
    background-image: URL(../images/arrow_down.png) !important;
}

a.selectedPageIndex:link {
	COLOR: #FE5230; TEXT-DECORATION: none
}
a.selectedPageIndex:visited {
	COLOR: #FE5230; TEXT-DECORATION: none
}
a.selectedPageIndex:active {
	COLOR: #FE5230; TEXT-DECORATION: none
}
a.selectedPageIndex:hover {
    COLOR: #FE5230; TEXT-DECORATION: none
}

a.unselectedPageIndex:link {
	COLOR: #000000; TEXT-DECORATION: none
}
a.unselectedPageIndex:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
a.unselectedPageIndex:active {
	COLOR: #FE5230; TEXT-DECORATION: none
}
a.unselectedPageIndex:hover {
    COLOR: #FE5230; TEXT-DECORATION: none
}