@CHARSET "UTF-8";
.listMenu {
	height:30px;
	COLOR: #666666;
	font-weight: bold;
	font-size:13px; 
	BORDER-BOTTOM: #FF2A00 1px solid;
}

.listTitle {
	text-align: LEFT ;
	border-top:2px solid #E31613;
	 FONT-SIZE: 14px; 
	 COLOR: #333333;
	 font-weight: bold; 
	 background-image:url(../images/bt_di.gif);
	 height:30px;
}

.listContent {
    border-collapse: collapse;
    border: 1px solid #BABABA;
    color: #000;
    background: #FFFFFF;
}

.listContent .no{
    width: 50px;
}


.listContent th,
.listContent td {
	text-align: center;
	border: 1px solid #BABABA;
	padding: 0.3em;
	height:25px;
}

.listContent th {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #444444; 
	BACKGROUND-COLOR: #E5E5E5;
}

.listContent td {
}

.listContent th a {
	background-position: right;
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
}

.listContent th.sortable a {
    background-image: URL(../images/arrow_off.png) !important;
}

.listContent th.order-asc a {
    background-image: URL(../images/arrow_up.png) !important;
}

.listContent th.order-desc a {
    background-image: URL(../images/arrow_down.png) !important;
}

.listContent tr.even {
	background: #FFFFFF;
    border-top: 1px solid #c0c0c0;
}

.listContent tr.odd {
    background: #F6F6F6;
    border-top: 1px solid #c0c0c0;
}

a.selectedPageIndex:link {
	COLOR: #FE5230; TEXT-DECORATION: none
}
a.selectedPageIndex:visited {
	COLOR: #FE5230; TEXT-DECORATION: none
}
a.selectedPageIndex:active {
	COLOR: #FE5230; TEXT-DECORATION: none
}
a.selectedPageIndex:hover {
    COLOR: #FE5230; TEXT-DECORATION: none
}

a.unselectedPageIndex:link {
	COLOR: #000000; TEXT-DECORATION: none
}
a.unselectedPageIndex:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
a.unselectedPageIndex:active {
	COLOR: #FE5230; TEXT-DECORATION: none
}
a.unselectedPageIndex:hover {
    COLOR: #FE5230; TEXT-DECORATION: none
}
