@CHARSET "UTF-8";

/*top背景*/
.header {
	background: #3066a6 url(../images/topnav.jpg) repeat-x;
}
.header-row1 {
	height: 104px;
	 background: url(../images/toplog.jpg) no-repeat;
}
.header .title {
	font-size: 22px;
	color: #ffffff;
	font-weight: bold;
	margin-top: 38px;
	margin-left: 175px;
	text-align: left;
}
			
/*top菜单 */
#sddm {	
    margin: 0;
	padding: 0;
	z-index: 30}

#sddm li {	
	margin: 0;
	padding: 0;
	list-style: none;
	width:85px;
	height:29px;
	float: left;
	font: 12px arial}

#sddm li a {	
	display: block;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	line-height:29px;
	background-image:url(../images/top_a.gif);
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	text-decoration: none}

#sddm li a:hover{
	background-image:url(../images/top_b.gif);
	color:#DA0000;
}

#sddm li a:active{
	background-image:url(../images/top_b.gif);
	color:#DA0000;
}

#sddm div {	
    position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	border-right: 0px solid #DD0E06;
	border-BOTTOM: 1px solid #E21711;
}
	
#sddm li a {	
	float: left;
}

#sddm li div a {	
	float: none;
}

#sddm div a {	
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #FFFFFF;
	color: #444444;
	font: 12px arial;
	border-left: 1px solid #E21711;
	border-right: 1px solid #E21711;
	   border-BOTTOM: 1px solid #DFDFDF;
}

#sddm div a:hover {
	background: #E5E5E5;
	background-repeat:repeat-x;
	color: #FF0000;
}
/*top菜单  结束*/

/*left菜单  开始*/

.menuCatetory {
	background:url(../images/lanmu-a.gif) no-repeat;	
	cursor: pointer;
}

.title_common {
	width:170px;
	margin:0px;
	padding:0px 0px 0px 20px;
	line-height:27px;
	text-align:left;
	list-style:none;
	clear:both;
	cursor:pointer;
	position: relative;
}

.title_close {
	font-size:12px;
	color:#444444;
	background:url(../images/title_close.gif) no-repeat;	
}

.title_hover {
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	background:url(../images/title_hover.gif) no-repeat;	
}

.title_open {
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
	background:url(../images/title_open.gif) no-repeat;	
}
/*left菜单  结束*/


/*TOP导航 三级菜单样式  开始*/
#nav, #nav ul {
	float:left; /* 菜单总体水平位置 */
	clear:right;
	list-style:none;
	line-height:30px;  一级菜单高 */
	/*background: #eee; 所有菜单移出色 */
	padding:0px;
	margin:0px;
}
#nav ul ul {
	border-top:0px;
	border-right:0px;
}
#nav a {
	width:85px;
	color:#FFFFFF;
	display:block;
	text-decoration:none;
	text-align:center;
	padding: 0px 0px 0px 0px;
}

#nav a:link {
	text-decoration:none;
}

#nav a:hover {
	color:#FFF32B;
	border:0px solid #CCC;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
} /* 所有 a:hover 字体样式 */


#nav a.selected{
	background:url(../images/arrow-list.gif)  no-repeat center right; 
} /* 下拉图标 */

#nav li { 
	float: left;
	clear:right;
	width:85px;
}
#nav li ul li {
	float:none;
	clear:right;
	width:158px;
}
#nav li ul { /* 二级弹出位 */
	border-top:1px solid #FF9393;
	position:absolute;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	left:-9999em;
	width:158px;
	font-weight:normal;
	background:#fff;
}
 /* 二级菜单宽 */
#nav li ul a {
	width:158px; /* 二级菜单宽 */
	border-BOTTOM:1px dashed #CCC;
	text-align:left;
	margin: 0px;
	color:#444444;
	padding:0px 0px 0px 0px;
	border-top:0px solid #FF9393;
	border-left:1px solid #FF9393;
	border-right:1px solid #FF9393;
}

#nav li ul a:hover{
	color:#FF0000;
	border-BOTTOM:1px dashed #CCC;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	background-color: #E5E5E5;
	border-top:0px solid #FF9393;
	border-left:1px solid #FF9393;
	border-right:1px solid #FF9393;
	text-decoration: none;
}


#nav li ul ul {
	width:158px;
	border-top:1px solid #FF9393;
	margin:-30px 0px 0px 155px;
} /* 三级弹出位 */

#nav li:hover ul ul,#nav li.sfhover ul ul {
	left:-9999em;
}

#nav li:hover ul,#nav li li:hover ul,#nav li.sfhover ul, #nav li li.sfhover ul {
	border-bottom:1px solid #FF9393;
	left:auto;
} 

/* 所有弹出菜单自动左边距 */
#nav li:hover {
	color:#FF0000;
	background-color: #E5E5E5;
}

#nav li.sfhover {
	color: #FF0000;
	background-color: #E5E5E5;
}

.top_dhsfhover {
	color: #ff0000;
	font-weight:bold;
	background-image:url(../images/top_b.gif);
}

/*TOP导航  结束*/

